*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
check_snag
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
lex.yy.c
missing
snag
snag-*.tar.gz
snag.tab.c
snag.tab.h
snag_lex.c
snag_parse.c
snag_parse.h
stamp-h1
ylwrap
